* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#background {
    width: 100%;
    height: 100vh;
    background-image: url(/img/newBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#container {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px auto 0 auto;
    width: 85%;
    height: 95vh;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/* lato sinistro */
#container aside {
    width: 45%;
    height: 100%;

    /* debug */
    background-color: white;
    border-right: 0.5px solid #b1b1b1;
}

#container aside nav #my-avatar {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
}

#container aside nav #my-avatar div {
    height: 100%;
    display: flex;
    align-items: center;
}

#container aside nav #my-avatar div img {
    height: 75%;
    padding: 0 4px;
    border-radius: 50%;
}

#container aside nav #my-avatar #icon-avatar {
    display: flex;
    gap: 10px;
    padding: 10px;
    font-size: 1.2em;
    color: #b1b1b1;
}

#container aside nav #active-messages {
    width: 100%;
    height: 55px;
    background-color: #00d0dc;
    display: flex;
    align-items: center;
    padding: 15px;
}

#container aside nav #active-messages #bell {
    padding: 10px;
    border-radius: 50%;
    margin-right: 7px;
    background-color: #f2fbff;
    color: #00d0dc;
}

#container aside nav #active-messages #bell-description div {
    padding-bottom: 2px;
}

#container aside nav #active-messages #bell-description a {
    color: grey;
}

#container aside nav #search-input {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b1b1b1;
    background-color: #fafafa;
}

#container aside nav #search-input input {
    position: relative;
    width: 98%;
    height: 75%;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    padding-left: 60px;
    font-size: 0.9em;
}

#container aside nav #search-input div {
    position: absolute;
    left: 25px;
    font-size: 1.1em;
}

/* contatti */
#container aside #container-users {
    height: calc(100% - (45px + 55px + 35px));
    overflow-y: auto;
}

/* customizzazione scroll bar della lista delle converssazioni  */
#container aside #container-users::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

#container aside #container-users::-webkit-scrollbar-thumb {
    background: lightblue;
    border-radius: 5px;
}

#container aside #container-users::-webkit-scrollbar-thumb:hover {
    background: #00d0dc;
}
/* fine customizzaione */


#container aside #users-list .user {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 55px;
    padding-left: 20px;
    position: relative;
    border-bottom: 1px solid #f1f1f1;
}

#container aside #users-list .user:hover {
    background-color: #8bdaff;
}

#container aside #users-list .user.active {
    background-color: #8bdaff;
}

/* sezione user img */
#container aside #users-list .user .user-img {
    height: 80%;
    padding-right: 15px;
}

#container aside #users-list .user .user-img img {
    height: 100%;
    border-radius: 50%;
}

#container aside #users-list .user .user-description {
    width: 80%;
}

/* sezione user name */
#container aside #users-list .user .user-name {
    font-size: 1.3em;
    padding-bottom: 3px;
}

#container aside #users-list .user .user-message {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #b1b1b1;
}

#container aside #users-list .user .user-time {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #b1b1b1;
}

#container aside #container-users #no-resoult {
    text-align: center;
    padding-top: 20px;
}

/* lato destro: chat */
#container #chat-container {
    width: 55%;
    height: 100%;
    background-image: url(/img/mine.jpg);
    background-size: auto;
}

#container #chat-container nav {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    padding: 0 15px 0 5px;
}

#container #chat-container nav #user-active {
    display: flex;
    align-items: center;
    height: 75%;
}

#container #chat-container nav #user-active #user-active-img {
    height: 100%;
    border-radius: 50%;
}

#container #chat-container nav #user-active #user-active-description {
    padding-left: 10px;
}

#container #chat-container nav #user-active #user-active-description #user-active-access {
    color: #b1b1b1;
    padding-top: 2px;
}

#container #chat-container nav #nav-right-icon {
    display: flex;
    gap: 10px;
    font-size: 1.2em;
    color: #b1b1b1;
}

/* chat singola*/
#container #chat-container #chat {
    height: calc(100% - (45px + 45px));
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 25px;
    overflow-y: auto;
}

/* customizzazione barra di scorrimento */
#container #chat-container #chat::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

#container #chat-container #chat::-webkit-scrollbar-thumb {
    background: #f8ebe9;
    border-radius: 5px;
}

#container #chat-container #chat::-webkit-scrollbar-thumb:hover {
    background: #90827b;
}
/* fine customizzazione */

#container #chat-container #chat .message {
    padding: 6px 30px 15px 8px;
    border-radius: 8px;
    min-width: 120px;
    max-width: 55%;
    background-color: white;
    position: relative;
}

#container #chat-container #chat .message .message-time {
    position: absolute;
    right: 3px;
    bottom: 3px;
    font-size: 0.6em;
    color: #b1b1b1;
}

#container #chat-container #chat .message.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}

#container #chat-container #chat .drop-invisible {
    display: none;
}

#container #chat-container #chat .drop-down {
    display: flex;
    align-items: end;
    flex-direction: column;
    position: absolute;
    top: 5px;
    right: 5px;
}

#container #chat-container #chat .drop-down .basic {
    display: none;
}

/* menu a tendina */
#container #chat-container #chat .drop-down .basic.canc {
    display: block;
    margin-top: 4px;
    padding: 6px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

/* parte in cui invio un nuovo messaggio */
#container #chat-container #new-message {
    height: 45px;
    background-color:#eaeaea;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #6b7376;
    font-size: 1.3em;
}

#container #chat-container #new-message input {
    height: 70%;
    width: 80%;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 0.8em;
}