<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>

    <!-- font awesom -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- link vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- vue -->
    <div id="app">

        <div id="background">
            <div id="container">
                <!-- lato sinistro -->
                <aside>
                    <!-- navbar aside in cui inserirò il mio profilo, attivazione notifiche desktop e barra di ricerca utenti chat -->
                    <nav>
                        <!-- mio avatar -->
                        <div id="my-avatar">
                            <!-- contenitore foto e nome personale -->
                            <div>
                                <img src="img/avatar_io.jpg" alt="profile">
                                Ginevra
                            </div>

                            <!-- icone a destra dei dati personali -->
                            <div id="icon-avatar">
                                <i class="fa-sharp fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
    
                        <!-- parte azzurra (attivazione messaggi)-->
                        <div id="active-messages">
                            <!-- logo notifica -->
                            <div id="bell">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>

                            <div id="bell-description">
                                <div>
                                    Ricevi notifiche di nuovi messaggi
                                </div>
                                <a href="">
                                    Attiva notifiche desktop
                                </a>
                            </div>
                        </div>

                        <!-- parte in cui inserisco la ricerca utente -->
                        <div id="search-input">
                            <!-- creo un v-model per passare a vue il valore in input -->
                            <input v-model="filterUsers" type="text" placeholder="Cerca o inizia una nuova chat">
                            <!-- icona lente ingrandimento posizionata all'interno del campo di input -->
                            <div><i class="fa-solid fa-magnifying-glass"></i></div>
                        </div>
                    </nav>
                    
                    <!-- contenitore contatti -->
                    <div id="container-users">
                        
                        <!-- lista dei contatti -->
                        <ul id="users-list" v-if="userList.length">
                            <!-- contatto singolo: creo un ciclo v-for per ogni contatto contenuto nell'array 'contacts'. inoltre aggiungo un evento click che cambia permanentemente il background color -->
                            <li v-for="(contact, index) in userList" @click="changeChatIndex(index)" :class="index == activeUser ? 'active' : '' " class="user">
                                <!-- immagine user -->
                                <div class="user-img">
                                    <!-- richiamo l'src dalla proprietà avatar del contatto -->
                                    <img v-bind:src="contact.avatar" alt="user img">
                                </div>
                                <!-- nome e ultimo messaggio user -->
                                <div class="user-description">
                                    <!-- richiamo il nome dalla proprietà name del contatto -->
                                    <div class="user-name">{{contact.name}}</div>
                                    <!-- visualizzo l'ultimo messaggio ricevuto o inviato all'interno della conversazione -->
                                    <div class="user-message">{{contact.messages[contact.messages.length - 1].message}}</div>
                                </div>
                                <!-- visualizzo il valore della proprietà 'date' dell'ultimo messaggio della lista -->
                                <div class="user-time">{{contact.messages[contact.messages.length - 1].date}}</div>

                            </li>
                        </ul>
                        <!-- caso in cui la ricerca non coincide con nessun risultato -->
                        <div v-else id="no-resoult">Nessun risultato trovato</div>
                    </div>
                </aside>

                <!-- ------------------------------------------------- -->
    
                <!-- contenitore lato destro -->
                <div id="chat-container">
                    <!-- anteprima utente della chat aperta -->
                    <nav>
                        <!-- lato sinistro navbar: img + username + ultimo accesso -->
                        <div id="user-active">
                            <!-- immagine del contatto attivo dove l'src è uguale alla proprietà avatar del contatto di indice pari all'indice attivo del contatto attivato -->
                            <img id="user-active-img" :src="contacts[activeUser].avatar" alt="">
                            <!-- nome e ultimo accesso del contatto attivo -->
                            <div id="user-active-description">
                                <!-- nome uguale alla proprietà name del contatto con indice pari all'indice attivo -->
                                <div id="user-active-name"> {{contacts[activeUser].name}} </div>
                                <!-- applico un controllo per visualizzare l'orario dell'ultimo messaggio con status uguale a 'received' -->
                                <div v-if="contacts[activeUser].messages[contacts[activeUser].messages.length - 1].status == 'received' " id="user-active-access">Ultimo accesso oggi alle {{contacts[activeUser].messages[contacts[activeUser].messages.length - 1].date}}</div>
                                <div v-else id="user-active-access">Ultimo accesso oggi alle {{contacts[activeUser].messages[contacts[activeUser].messages.length - 2].date}}</div>

                            </div>
                        </div>

                        <!-- lato destro navbar: icone -->
                        <div id="nav-right-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </nav>

                    <!-- chat -->
                    <div id="chat">
                        <!-- creo un ciclo v-for per creare un numero di messaggi pari alla lunghezza dell'array 'messages' del singolo contatto e dove il messaggio singolo è uguale al valore della proprietà message. aggiungo una classe in base al tipo di messaggio(se ricevuto o mandato) -->
                        <div v-for="(singleMessage, index) in contacts[activeUser].messages" class="message" v-bind:class="singleMessage.status">
                            {{singleMessage.message}}
                            <!-- data uguale alla proprietà 'date' del singolo messaggio nell'array 'messages' -->
                            <div class="message-time">
                                {{singleMessage.date}}
                            </div>
                            <!-- creo un menu a tendina (solo per i messaggi con lo status uguale a 'sent') in cui appare la possibilità di eliminare il messaggio singolo e lo faccio richiamando una funzione da vue tramite un evento click -->
                            <div :class="singleMessage.status == 'sent' ? 'drop-down' : '' " class="drop-invisible" @click="changeVisibility(singleMessage)"><i class="fa-solid fa-chevron-down"></i>
                                <div @click="removeMessage(contacts[activeUser].messages, index)" :class="singleMessage.visibility == true ? 'canc' : '' " class="basic">Delete message</div>
                            </div>
                        </div>
                    </div>

                    <!-- area in cui scrivo e invio un messaggio -->
                    <div id="new-message">
                        <i class="fa-regular fa-face-smile"></i>
                        <!-- zona di input in cui al cliccare del tasto invio aggiunge il messaggio digitato nell'array 'messages' dell'utente attivo -->
                        <input v-model="newMessage" @keyup.enter="addNewMessageSent()" type="text" placeholder="Scrivi un messaggio">
                        <!-- aggiungo la possbilità di pushare il messaggio nell'array 'messages' anche tramite l'icona dell'aeroplanino solo nel caso in cui sia stato effettivamente digitato qualcosa -->
                        <!-- se il campo di input è vuoto mostro normalmente l'icona del microfono -->
                        <div v-if="newMessage == '' ">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                        <!-- se digito qualcosa nel campo di input allora scompare l'icona del microfono e appare quella dell'aeroplanino che può essere cliccata, attivando la funzione che pusha il messaggio nell'array 'messages' -->
                        <div v-else @click="addNewMessageSent()">
                            <i class="fa-regular fa-paper-plane"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>

</html>