<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- font awesom -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- link vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- vue -->
    <div id="app">

        <div id="background">
            <div id="container">
                <!-- lato sinistro -->
                <aside>
                    <!-- navbar aside in cui inserirò il mio profilo, attivazione notifiche desktop e barra di ricerca utenti chat -->
                    <nav>
                        <!-- mio avatar -->
                        <div id="my-avatar">
                            <!-- contenitore foto e nome personale -->
                            <div>
                                <img src="img/avatar_io.jpg" alt="profile">
                                Ginevra
                            </div>
    
                            <div id="icon-avatar">
                                <i class="fa-sharp fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
    
                        <!-- parte azzurra -->
                        <div id="active-messages">
                            <div id="bell">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div id="bell-description">
                                <div>
                                    Ricevi notifiche di nuovi messaggi
                                </div>
                                <a href="">
                                    Attiva notifiche desktop
                                </a>
                            </div>
                        </div>

                        <!-- parte in cui inserisco la ricerca utente -->
                        <div id="search-input">
                            <input type="text" placeholder="Cerca o inizia una nuova chat">
                            <div><i class="fa-solid fa-magnifying-glass"></i></div>
                        </div>
                    </nav>
                    
                    <!-- contenitore contatti -->
                    <div id="container-users">
                        
                        <ul id="users-list">
    
                            <li v-for="(contact, index) in contacts" @click="changeChatIndex(index)" :class="index == activeUser ? 'active' : '' " class="user">
                                <div class="user-img">
                                    <img v-bind:src="contact.avatar" alt="user img">
                                </div>
                                <div class="user-description">
                                    <div class="user-name">{{contact.name}}</div>
                                    <div class="user-message">Ultimo messaggio inviato</div>
                                </div>
                                <div class="user-time">12.00</div>
                            </li>
    
                        </ul>

                    </div>

                </aside>

                <!-- ------------------------------------------------- -->
    
                <!-- contenitore lato destro -->
                <div id="chat-container">
                    <!-- anteprima utente della chat aperta -->
                    <nav>
                        <!-- lato sinistro navbar: img + username + ultimo accesso -->
                        <div id="user-active">
                            <img id="user-active-img" :src="contacts[activeUser].avatar" alt="">
                            <div id="user-active-description">
                                <div id="user-active-name"> {{contacts[activeUser].name}} </div>
                                <div id="user-active-access">Ultimo accesso oggi alle 12.00</div>
                            </div>
                        </div>

                        <!-- lato destro navbar: icone -->
                        <div id="nav-right-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </nav>

                    <!-- chat -->
                    <div id="chat">

                        <div v-for="singleMessage in contacts[activeUser].messages" class="message" v-bind:class="singleMessage.status">
                            {{singleMessage.message}}
                            <div class="message-time">
                                {{singleMessage.date}}
                            </div>
                        </div>


                    </div>

                    <!-- area in cui scrivo e invio un messaggio -->
                    <div id="new-message">
                        <i class="fa-regular fa-face-smile"></i>
                        <input type="text" placeholder="Scrivi un messaggio">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- container whatsapp -->

    </div>


    <script src="js/script.js"></script>
</body>

</html>